/* Header */

body {
    margin: 0;
    min-height: 100vh;
    background-color: #ed93b4;
}

.top {
    padding-bottom: 1px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-header-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 75px;
    padding-right: 40px;
    margin-top: 20px;
    height: 100px;
    font-size: 29px;
    font-family: "PT Serif", serif;
}

a {
    text-decoration: none;
    color: #F9FAF8; 
}

.image-header {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    padding: 10px;
}

/*Information*/

.information {
    width: 100%;
    text-align: center;
    background-color: white;
}

.top-information {
    padding-top: 1px;
}

.header-information {
    font-size: 36px;
    font-family: "PT Serif", serif;
    margin: 50px;
}

.action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
    font-family: "PT Serif", serif;
    background-color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    padding-top: 1px;
    padding-bottom: 20px;
    padding-left: 110px;
    padding-right: 110px;
    border-radius: 15px;
    background-color: #ed93b4;
    gap: 80px;
}

.first-action {
    font-size: 35px;
}

.second-action {
    font-size: 25px;
}

.fotter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
}

.icon-Social-media {
    margin-top: 60px;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.mid-information {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #e6e0e2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;

}

textarea {
    resize: none;
}

.second-Text {
    margin-top: 5px;
    font-size: 14px;
    color: #7b7b7b
    ;
}

@media (max-width: 768px) {
    /*Header*/

    .right-header-links {
        flex-direction:  column;
        gap: 20px;
        padding-bottom: 16px;
        padding-top: 3px;
        font-size: 23px;
    }

    .header{
        flex-direction: column;
    }


    .imagen-header {
        width: 100px;
        height: 100px;
    }

    /*Content*/

    /*Footer*/

   .container {
    flex-direction: column;
    padding: 20px;
    gap: 1px;
    width: 80%;
    margin-left: 4.8%;

    }

        

    .action {
        flex-direction:  column;
    }

    .first-action {
        font-size: 34px;
    }

    .second-action {
        font-size: 25px;
    }

    .fotter {
        font-size: 18px;
    }

    .icon-Social-media {
        padding-top: 1px;
        padding-bottom: 11px;
    }
}