body {
    margin: 0;
    min-height: 100vh;
}

.top {
    background-color: #c37591;
    padding-bottom: 1px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-header-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 80px;
    margin-top: 25px;
    height: 24px;
    color: #F9FAF8;
}

.right-header-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 75px;
    padding-right: 35px;
    margin-top: 20px;
    height: 100px;
    font-size: 29px;
    font-family: "PT Serif", serif;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

img {
    width: 600px;
    height: 225px;
}

.image-header {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin-left: 20px;
}

.information {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.mid-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: "Barlow Condensed", sans-serif;
}

.top-information {
    margin-bottom: 20px;
}

.center {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.icon {
    height: 525px;
    width: 300px;
    border-radius: 15px;
    background-color: #c37591;
    padding: 5px;
    margin-left: 10px;
}

.header-information {
    font-size: 36px;
    font-family: "PT Serif", serif;
    margin: 50px;
}

.text {
    margin-bottom: 20px;
    font-size: 25px;
    width: 615px;
    text-align: left;
    line-height: 1.4;

}

.action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
    font-family: "PT Serif", serif;
}

.container {
    display: flex;
    justify-content: space-around;
    padding-top: 1px;
    padding-bottom: 20px;
    padding-left: 110px;
    padding-right: 110px;
    border-radius: 15px;
    background-color: #c37591;
    gap: 80px;
}

.first-action {
    font-size: 35px;
}

.second-action {
    font-size: 25px;
}

.fotter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c37591;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
}

.icon-Social-media {
    margin-top: 60px;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.class_links {
    color: black;
    text-decoration: underline;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-image img{
    margin-top: 45PX;
    width: 500px;
    height: 815px;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: #c37591;
    padding: 5px;

}

.thumbnails {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.thumbnails img {
    width: 175px;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 15px; 
}

.thumbnails img:hover {
    transform: scale(1.1);
}
