/* Header */

body {
    margin: 0;
    min-height: 100vh;
    font-family: "PT Serif", serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.line {
    background-color: #ed93b4;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}


.right-header-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 75px;
    padding-right:40px;
    margin-top: 20px;
    height: 100px;
    font-size: 29px;
    font-family: "PT Serif", serif;
    color: #ed93b4;
    
}

a {
    text-decoration: none;
    color: #ed93b4;
}

.image-header {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    padding: 10px;
}

/*Information*/

.image-container {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.background-imagen {
    width: 1897px;
    height: 400px;
}

.top-image img {
    object-fit: cover;
    object-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: rgba(0, 0, 0, 0.375); /* Adjust opacity as needed */
}

.centered-text {
    position: absolute;
    color: white;
    font-size: 75px;
    font-weight: bold;
    font-family: "PT Serif", serif;
    text-align: center;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    text-align: center;
    line-height: 1.8;
    font-family: "PT Serif", serif;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 18%;
    padding-right: 18%;
    background-color: white;

}

.scrolling-wrapper {
    display: flex;
    overflow-x: scroll;
    gap: 13px;
    padding: 10px;
    padding-top: 35px;
    background-color: #ebebeb;
}

.scrolling-wrapper img {
    width: 40%;
    height: 40%;
    flex-shrink: 0;
    border-radius: 12px; 
}



/* Fotter */

.action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
    font-family: "PT Serif", serif;
    background-color: white;
}


.container{
    display: flex;
    justify-content: space-around;
    padding-top: 1px;
    padding-bottom: 20px;
    padding-left: 110px;
    padding-right: 110px;
    border-radius: 15px;
    background-color: #ed93b4;
    gap: 80px;

}

.first-action {
    font-size: 35px;  
}

.second-action {
    font-size: 25px;
}

.fotter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ed93b4;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
}   

.icon-Social-media {
    margin-top: 60px;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 768px) {
    /*Header*/
    .right-header-links {
        flex-direction:  column;
        gap: 20px;
        padding-bottom: 16px;
        padding-top: 3px;
        font-size: 23px;
    }

    .header{
        flex-direction: column;
    }


    .imagen-header {
        width: 100px;
        height: 100px;
    }

    .header-button {
        background-color: #f8b6ce;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
        border: solid;
        border-radius: 40px;
    }

    /*Content*/

    .top-image {
        width: 10px;
        height: auto;
    }

    .background-imagen {
        height: 165px;
        width: 100%;
    }

    .overlay {
        height: 165px;
    }

    .centered-text {    
        font-size: 45PX;
    }

    .about-text{
        padding-left: 10%;
        padding-right: 10%;
        font-size: 16px;
    }

    .scrolling-wrapper img {
        width: 80%;
    }

    .scrolling-wrapper {
        scroll-padding-left: 10%;
    }

    /*Footer*/

    .container{
        flex-direction: column;
        padding: 20px;
        gap: 1px;
        width: 80%;
        margin-left: 4.8%;
        } 

    .action {
        flex-direction:  column;
    }

    .first-action {
        font-size: 34px;
    }

    .second-action {
        font-size: 25px;
    }

    .fotter {
        font-size: 18px;
    }

    .icon-Social-media {
        padding-top: 1px;
        padding-bottom: 11px;
    }


}